Adafruit-Blinka
adafruit-circuitpython-ads1x15
adafruit-circuitpython-busdevice
adafruit-circuitpython-connectionmanager
adafruit-circuitpython-pca9685
adafruit-circuitpython-register
adafruit-circuitpython-requests
adafruit-circuitpython-typing
Adafruit-PlatformDetect
Adafruit-PureIO
astral
binho-host-adapter
blinker
certifi
charset-normalizer
click
Flask
idna
itsdangerous
Jinja2
lgpio
MarkupSafe
pyftdi
pynmea2
pyserial
pytz
pyusb
requests
RPi.GPIO
smbus2
spidev
sysv-ipc
timezonefinder
typing_extensions
urllib3
w1thermsensor
Werkzeug
